{
	"receiverUrl": "https://webhook.site/YOUR-WEBHOOK-URL-HERE",
	"body": {
		"msg_hash": "25b83458-dfd4-430a-bd55-ba6b745d6bf7",
		"artist": "Pink Floyd",
		"genre": "Classic Rock",
		"active": false
	}
}
