service: notifier
frameworkVersion: "4"
provider:
  name: aws
  runtime: python3.12
  region: ${opt:region}
  lambdaHashingVersion: 20201221
  timeout: 10
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - sqs:DeleteMessage
        - sqs:GetQueueAttributes
        - sqs:ReceiveMessage
      Resource: "arn:aws:sqs:us-east-2:918880261221:webhook"
    - Effect: "Allow"
      Action:
        - sqs:SendMessage
      Resource: "arn:aws:sqs:us-east-2:918880261221:webhook"

package:
  individually: true
  patterns:
  - '!.venv/**'
  - '!*.md'
  - '!*.png'
  - '!*.json'
  - '!*.py'
  - '!*.txt'
  - 'notifier.py'

functions:
  Webhook:
    name: notifier
    handler: notifier.send_webhook
    events:
      - sqs:
          arn: arn:aws:sqs:us-east-2:918880261221:webhook
          batchSize: 1
          maximumBatchingWindow: 30
    destinations:
      onFailure: arn:aws:sqs:us-east-2:918880261221:webhook-dlq